{% extends "Admin_Guest.html" %}
{% block m2 %}

<form method="post" action="admin_pass_change" onsubmit="return A()">
    <h1> Change Password </h1>
    <div class="form-row">
		  <div class="form-group col-md-6">
			<label>Old Password</label><span id="er1"></span>
			<input type="text" name="t1" class="form-control" placeholder="Old Password">
		  </div>
	</div>
    <div class="form-row">
		  <div class="form-group col-md-6">
			<label>New Password</label><span id="er2"></span>
			<input type="text" name="t2" class="form-control" placeholder="Enter New Password">
		  </div>
	</div>
    <div class="form-row">
		  <div class="form-group col-md-6">
			<label>Confirm Password</label><span id="er3"></span>
			<input type="text" name="t3" class="form-control" placeholder="Confirm Password">
		  </div>
	</div>
        <button type="submit" class="btn btn-primary"> Update Password </button>
</form>
<script>
    function A()
    {
        var t1,t2,t3;
        t1=document.getElementById("txt1");
		t2=document.getElementById("txt2");
		t3=document.getElementById("txt3");

		var e1,e2,e3;
		e1=document.getElementById("er1");
		e2=document.getElementById("er2");
		e3=document.getElementById("er3");

		var v1,v2,v3;
		v1=t1.value;
		v2=t2.value;
		v3=t3.value;

		e1.innerHTML="";
		e2.innerHTML="";
		e3.innerHTML="";

		if(v1=="" || v1==null)
			{
				e1.innerHTML="Enter Old Password";
				t1.focus();
				e1.style.color="red";
				return false;
			}
		else if(v2=="" || v2==null)
			{
				e2.innerHTML="Enter Password";
				t2.focus();
				e2.style.color="red";
				return false;
			}
		else if(v3=="" || v3==null)
			{
				e3.innerHTML="Enter Confirm Password";
				t3.focus();
				e1.style.color="red";
				return false;
			}
		else if(check_pass(v2,v3)==false)
			{
				e3.innerHTML="password does not match";
				t3.select();
				t2.type="text";
				t3.type="text";
				return false;
			}
    }
    function check_pass(a,b)
	{
		if(a!=b)
			{
				return false;
			}
	}
</script>
{% if msg %}
    <h3>{{msg}}</h3>
{% endif%}

{% endblock %}