{% extends "Admin_Guest.html" %}
{% block m2 %}
<h1>Edit And Save</h1>

{% if data %}
 <form method="post" action="edit_medical_a_1">
    <p>Medical Name:<input type="text" name="t1" value="{{data[0]}}"/></p>
    <p>Owner Name:<input type="text" name="t2" value="{{data[1]}}"/></p>
    <p>L No.:<input type="text" name="t3" value="{{data[2]}}"/></p>
    <p>Address:<input type="text" name="t4" value="{{data[3]}}"/></p>
    <p>Contact:<input type="text" name="t5" value="{{data[4]}}"/></p>
    <p>Email:<input readonly type="text" name="t6" value="{{data[5]}}"/></p>
     <input type="submit" name="b1" value="save changes" />
</form>
{% elif msg %}
    <h3>{{msg}}</h3>
{% endif %}

{% endblock %}